<app-navbar></app-navbar>

<div *ngIf="update" class="fixed inset-0 flex justify-center items-center bg-slate-400 bg-opacity-75 z-50">
    <span class="loading loading-dots loading-lg"></span>
</div>

<div class="overflow-x-auto flex justify-around flex-wrap">

    <div class="my-2 w-11/12 flex justify-center">
        <button class="btn bg-teal-500 text-white rounded-md hover:bg-teal-300 hover:border-teal-300 w-auto grow mx-1"
            onclick="agregarPaciente.showModal()">Agregar paciente
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path
                    d="M5.25 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM2.25 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM18.75 7.5a.75.75 0 0 0-1.5 0v2.25H15a.75.75 0 0 0 0 1.5h2.25v2.25a.75.75 0 0 0 1.5 0v-2.25H21a.75.75 0 0 0 0-1.5h-2.25V7.5Z" />
            </svg>
        </button>
        <label class="input input-bordered rounded-md flex items-center gap-2 w-9/12 mx-1 overflow-hidden">
            <input type="text" (input)="onSearch($event)" class="grow" placeholder="Buscar paciente" />
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
                <path fill-rule="evenodd"
                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                    clip-rule="evenodd" />
            </svg>
        </label>
    </div>

    <div *ngIf="pacientes.length === 0"
        class="stats stats-vertical lg:stats-horizontal shadow border-teal-400 border-2 w-11/12 hover:border-teal-700 my-1">
        <div class="stat place-items-center">
            <div class="text-black text-lg font-bold flex justify-center">
                <div class="mx-2 stat-figure text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path
                            d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                    </svg>
                </div> No tienes pacientes
            </div>
            <div class="text-black text-base font-normal">Añadelos con el boton agregar paciente</div>
        </div>
    </div>

    <div *ngFor="let paciente of pacientes | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }"
        class="stats stats-vertical lg:stats-horizontal shadow border-teal-400 border-2 w-11/12 hover:border-teal-700 my-1">

        <div class="stat place-items-center">
            <div class="text-black text-lg font-bold flex justify-center">
                <div class="mx-2 stat-figure text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                            d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                            clip-rule="evenodd" />
                    </svg>
                </div> Paciente
            </div>
            <div class="text-black text-base font-normal">{{paciente.nombre}} {{paciente.apellidoPaterno}}
                {{paciente.apellidoMaterno}}</div>
            <div class="text-gray-600 text-sm font-normal">{{calcularEdad(paciente.fechaNacimiento)}} Años</div>
        </div>

        <div class="stat place-items-center">
            <div class="text-black text-lg font-bold flex justify-center">
                <div class="mx-2 stat-figure text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                            d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 0 0 3 3h15a3 3 0 0 1-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125ZM12 9.75a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5H12Zm-.75-2.25a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5H12a.75.75 0 0 1-.75-.75ZM6 12.75a.75.75 0 0 0 0 1.5h7.5a.75.75 0 0 0 0-1.5H6Zm-.75 3.75a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75ZM6 6.75a.75.75 0 0 0-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75v-3A.75.75 0 0 0 9 6.75H6Z"
                            clip-rule="evenodd" />
                        <path d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 0 1-3 0V6.75Z" />
                    </svg>
                </div>Contacto
            </div>
            <div class="text-black text-base font-normal">{{paciente.telefono}}</div>
            <div class="text-gray-600 text-sm font-normal">{{paciente.correo}}</div>
        </div>

        <div class="stat place-items-center">
            <div class="text-black text-lg font-bold flex justify-center">
                <div class="mx-2 stat-figure text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                            d="M1.5 7.125c0-1.036.84-1.875 1.875-1.875h6c1.036 0 1.875.84 1.875 1.875v3.75c0 1.036-.84 1.875-1.875 1.875h-6A1.875 1.875 0 0 1 1.5 10.875v-3.75Zm12 1.5c0-1.036.84-1.875 1.875-1.875h5.25c1.035 0 1.875.84 1.875 1.875v8.25c0 1.035-.84 1.875-1.875 1.875h-5.25a1.875 1.875 0 0 1-1.875-1.875v-8.25ZM3 16.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875v2.25c0 1.035-.84 1.875-1.875 1.875h-5.25A1.875 1.875 0 0 1 3 18.375v-2.25Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>Acciones
            </div>
            <div class="flex flex-row flex-wrap">
                <button [routerLink]="['/citasPaciente', paciente.id]" title="Ver historial"
                    class="btn m-1 bg-blue-500 text-white rounded-md hover:bg-blue-300 hover:border-blue-300"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path
                            d="M19.906 9c.382 0 .749.057 1.094.162V9a3 3 0 0 0-3-3h-3.879a.75.75 0 0 1-.53-.22L11.47 3.66A2.25 2.25 0 0 0 9.879 3H6a3 3 0 0 0-3 3v3.162A3.756 3.756 0 0 1 4.094 9h15.812ZM4.094 10.5a2.25 2.25 0 0 0-2.227 2.568l.857 6A2.25 2.25 0 0 0 4.951 21H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-2.227-2.568H4.094Z" />
                    </svg>
                </button>
                <button
                    (click)="abrirModalCita(paciente.id, paciente.nombre, paciente.apellidoPaterno, paciente.apellidoMaterno)"
                    title="Agregar cita"
                    class="btn m-1 bg-teal-500 text-white rounded-md hover:bg-teal-300 hover:border-teal-300"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                            d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875ZM12.75 12a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V18a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V12Z"
                            clip-rule="evenodd" />
                        <path
                            d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z" />
                    </svg>
                </button>
                <button (click)="abrirModalYObtenerPaciente(paciente.id)" title="Editar registro"
                    class="btn m-1 bg-gray-500 text-white rounded-md hover:bg-gray-300 hover:border-gray-300"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path
                            d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                    </svg>
                </button>
                <button (click)="eliminarPaciente(paciente.id)" title="Eliminar registro"
                    class="btn m-1 bg-red-500 text-white rounded-md hover:bg-red-300 hover:border-red-300"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                            d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
    <pagination-controls [previousLabel]="'Anterior'" [nextLabel]="'Siguiente'"
        (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<!-- Modal para agregar paciente -->

<dialog id="agregarPaciente" class="modal">
    <div class="modal-box w-5/6 max-w-5xl ">
        <h3 class="text-lg font-bold">Agregar paciente</h3>
        <form [formGroup]="FormularioA">

            <div class="flex flex-row flex-wrap justify-center mt-2">

                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Nombre</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Nombre"
                        formControlName="nombre">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoAgregar('nombre')">Este campo es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Apellido Paterno</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Apellido Paterno"
                        formControlName="apellidoPaterno">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoAgregar('apellidoPaterno')">Este
                        campo es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Apellido Materno</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Apellido Materno"
                        formControlName="apellidoMaterno">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoAgregar('apellidoMaterno')">Este
                        campo es
                        requerido</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap justify-center mt-2">
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Fecha nacimiento</label>
                    <input type="date" class="w-full rounded-md py-2 px-3 flex-auto" formControlName="fechaNacimiento">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoAgregar('fechaNacimiento')">Este
                        campo es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Teléfono</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="4151231231"
                        formControlName="telefono">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoAgregar('telefono')">Este campo es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Correo</label>
                    <input type="email" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="paciente@gmail.com"
                        formControlName="correo">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoAgregar('correo')">Este campo es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Contraseña</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Contraseña"
                        formControlName="contrasenia">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoAgregar('contrasenia')">Este campo es
                        requerido
                    </p>
                </div>
            </div>
        </form>
        <div class="modal-action">
            <form method="dialog">
                <button (click)="reset()"
                    class="btn bg-red-500 text-white rounded-md hover:bg-red-300 hover:border-red-300 m-1">Cancelar</button>
                <button (click)="agregarPaciente()" [disabled]="!FormularioA.valid"
                    class="btn bg-teal-500 text-white rounded-md hover:bg-teal-300 hover:border-teal-300">Guardar</button>
            </form>

        </div>
    </div>
</dialog>

<!-- Modal para editar -->

<dialog #editarPaciente id="editarPaciente" class="modal">
    <div class="modal-box w-5/6 max-w-5xl ">
        <h3 class="text-lg font-bold">Editar datos del paciente</h3>
        <form [formGroup]="FormularioE">

            <div class="flex flex-row flex-wrap justify-center mt-2">
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Nombre</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Nombre"
                        formControlName="nombre">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoEditar('nombre')">Este campo es
                        requerido
                    </p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Apellido Paterno</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Apellido Paterno"
                        formControlName="apellidoPaterno">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoEditar('apellidoPaterno')">Este campo
                        es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Apellido Materno</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Apellido Materno"
                        formControlName="apellidoMaterno">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoEditar('apellidoMaterno')">Este campo
                        es
                        requerido</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap justify-center mt-2">
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Fecha nacimiento</label>
                    <input type="date" class="w-full rounded-md py-2 px-3 flex-auto" formControlName="fechaNacimiento">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoEditar('fechaNacimiento')">Este campo
                        es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Teléfono</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="4151231231"
                        formControlName="telefono">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoEditar('telefono')">Este campo es
                        requerido</p>
                </div>
                <div class="mx-1 w-auto grow">
                    <label class="block text-center text-black">Correo</label>
                    <input type="email" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="paciente@gmai.com"
                        formControlName="correo">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoEditar('correo')">Este campo es
                        requerido
                    </p>
                </div>
            </div>
        </form>
        <div class="modal-action">
            <form method="dialog">
                <button
                    class="btn bg-red-500 text-white rounded-md hover:bg-red-300 hover:border-red-300 m-1">Cancelar</button>
                <button (click)="actualizarPaciente(pacienteSolo)" [disabled]="!FormularioE.valid"
                    class="btn bg-teal-500 text-white rounded-md hover:bg-teal-300 hover:border-teal-300">Guardar</button>
            </form>

        </div>
    </div>
</dialog>

<!-- Agregar cita -->

<dialog #agregarCita id="agregarCita" class="modal">
    <div class="modal-box w-5/6 max-w-5xl ">
        <h3 class="text-lg font-bold">Agendar cita</h3>
        <form [formGroup]="FormularioCita">

            <div class="flex flex-row justify-center mt-2">
                <div class="mx-1 w-full">
                    <label class="block text-center text-black">Motivo</label>
                    <input type="text" class="w-full rounded-md py-2 px-3 flex-auto" placeholder="Motivo"
                        formControlName="motivo">
                    <p class="font-size: small text-red-600" *ngIf="campoValidoCita('motivo')">Este campo es
                        requerido
                    </p>
                </div>
            </div>

            <div class="flex flex-row justify-center mt-2">
                <div class="mx-1 w-full">
                    <label class="block text-center text-black">Fecha</label>
                    <input type="date" class="w-full rounded-md py-2 px-3 flex-auto" formControlName="fecha"
                        (change)="filtradoHora($event)" />
                    <p class="font-size: small text-red-600" *ngIf="campoValidoCita('fecha')">Este campo es requerido
                    </p>
                </div>
            </div>

            <div class="flex flex-row justify-center mt-2">
                <div class="mx-1 w-full">
                    <label class="block text-center text-black">Hora</label>
                    <select class="w-full rounded-md py-2 px-3 flex-auto" formControlName="hora">
                        <option value="" disabled selected>Selecciona una hora</option>
                        <option *ngFor="let hora of horasDisponiblesFiltradas" [value]="hora">{{ hora }}</option>
                    </select>
                    <p class="font-size: small text-red-600" *ngIf="campoValidoCita('hora')">Este campo es requerido</p>
                </div>
            </div>


        </form>
        <div class="modal-action">
            <form method="dialog">
                <button (click)="reset()"
                    class="btn bg-red-500 text-white rounded-md hover:bg-red-300 hover:border-red-300 m-1">Cancelar</button>
                <button [disabled]="!FormularioCita.valid" (click)="crearCita()"
                    class="btn bg-teal-500 text-white rounded-md hover:bg-teal-300 hover:border-teal-300">Guardar</button>
            </form>

        </div>
    </div>
</dialog>